[GLOBAL]
bag_of_words_file_dir = /Users/karthikchandrasekar/Desktop/Studies/Social_Media_Mining/SMM_PROJECT_2/INPUT/aclImdb
bag_of_words_file_name = imdb.vocab
feat_file_dir = /Users/karthikchandrasekar/Desktop/Studies/Social_Media_Mining/SMM_PROJECT_2/INPUT/aclImdb/train
feat_file_name = labeledBow.feat

[PRE_PROCESSING]
pre_processing_results_dir = OUTPUT
pre_processing_results_file_name = pre_processing_results

