[GLOBAL]
reviews_file_dir = INPUT/rt-polaritydata
pos_reviews_dir =  INPUT/pos
neg_reviews_dir =  INPUT/neg


pos_reviews_file_name = rt-polarity-neg.txt
neg_reviews_file_name = rt-polarity-pos.txt


bag_of_words_file_dir = INPUT
bag_of_words_file_name = imdb.vocab

feat_file_dir = INPUT/train
feat_file_name = labeledBow.feat

test_feat_file_dir = INPUT/test
test_feat_file_name = labeledBow.feat
